// authors {{.Values.authors}}

package tmpl

import (
	"fmt"
	"reflect"
	"github.com/spf13/cast"
)

func Testing(kind reflect.Kind, value interface{}) {
	switch kind {
	{{range .Data.types -}}
	{{ $Type := print .name | stringsTitle -}}
		case reflect.{{ $Type }}:
			fmt.Println("{{ .name }}", cast.To{{ $Type }}(value))
    {{end -}}
		default:
			panic(fmt.Errorf("unhandled type %v", kind))
	}} // fmt is automatically run and correct file discrepancies
